{{ define "main" }}

{{ partial "navigation.html" . }}

<!-- Start Series Section -->
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title -->
        <div class="title text-center wow fadeInDown">
          <h2>{{ i18n "series" }}: <span class="color">{{ .Title }}</span></h2>
          <div class="border-meghna"></div>
          <p>{{ .Params.description | default (printf "文章系列：%s" .Title) }}</p>
        </div>
        <!-- /section title -->
      </div>

      {{ $paginator := .Paginate (.Pages.ByDate) }}
      {{ range $paginator.Pages }}
      {{ .Render "article" }}
      {{ end }}

      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /Series Section -->

{{ end }}
